<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Predictions With Machine Learning</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body id="page-top">
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-center" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                <a class="nav-link js-scroll-trigger" href="#about">Data</a>
                <a class="nav-link js-scroll-trigger" href="#analysis">Analysis</a>
                <a class="nav-link js-scroll-trigger" href="#prediction">Prediction</a>
            </div>
        </div>
    </nav>
    
    <header class="masthead text-center text-black d-flex">
        <div class="container my-auto">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2>
                        <strong>NBA Predictions With Machine Learning</strong>
                    </h2>
                </div>
                <div class="col-lg-12 mx-auto">
                    <h5 class="mb-5">
                        Based on the statistics of NBA Champions from past seasons, can we predict the winner of the current NBA Season (2021-22) using the teams current stats?
                    </h5>
                </div>
                <div class="col-lg-12 mx-auto">
                    <h6>
                        We chose this subject because of our interest in sports and in particular NBA. Additionally, the use of statistics in sports has been evolving for years. For example, a basic box score with minutes played, points, rebounds and a few other stats was the standard, but now with improved technology performance can be broken down to individual players on individuals plays, which can show which kind of plays and where on the court a player has the most success scoring. Even though our analysis will not go this deep, winning a championship goes beyond the number of wins and losses a team has in the regular season. So we wanted to use a set of advance stats to see if we could predict a winner.
                    </h6>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-dark" id="about">
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-white"><strong>Data</strong></h2>
            </div>
          </div>
        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class='tableauPlaceholder' id='viz1636774039781' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt='Story 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DQ&#47;DQWJTDWW9&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> 
                        <param name='path' value='shared&#47;DQWJTDWW9' /> 
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DQ&#47;DQWJTDWW9&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en-US' />
                        <param name='filter' value='publish=yes' />
                    </object>
                </div>                
                <script type='text/javascript'>
                var divElement = document.getElementById('viz1636774039781');                    
                var vizElement = divElement.getElementsByTagName('object')[0];                    
                vizElement.style.width='1016px';vizElement.style.height='991px';                    
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
        </div>
    </div>
    <section class="bg-dark" id="analysis">
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-white"><strong>Analysis</strong></h2>
            </div>
          </div>
        </div>
    <section class="bg-dark" id="prediction">
        <div class="container my-auto">
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-white"><strong>Prediction</strong></h2>
            </div>
            </div>
        </div>
</body>
</html>