<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Predictions With Machine Learning</title>

    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="./static/css/style.css">
    
    <script type="text/javascript"
	    src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript"></script>
</head>

<body id="page-top">
    <div>
        <h1>Projecting NBA Champions with ML</h1>
        <h5>Based on the statistics of NBA Champions from past seasons, can we predict the winner of the current NBA Season (2021-22) using the teams current stats?</h5>
        <h6>We chose this subject because of our interest in sports and in particular NBA. Additionally, the use of statistics in sports has been evolving for years. For example, a basic box score with minutes played, points, rebounds and a few other stats was the standard, but now with improved technology performance can be broken down to individual players on individuals plays, which can show which kind of plays and where on the court a player has the most success scoring. Even though our analysis will not go this deep, winning a championship goes beyond the number of wins and losses a team has in the regular season. So we wanted to use a set of advance stats to see if we could predict a winner.</h6>
    </div>
    
    <div class="center" id="vizContainer">
        <script src="../static/js/app.js"></script>
    </div>
    <section id="prediction">
        <div class="container my-auto">
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><strong>Prediction</strong></h2>
                <p>blah blah blah</p>
            </div>
            </div>
        </div>
</body>

</html>